:root {
  --background-color: #1b1b1f;
  --bb-brand-light: #747bff;
  --bb-brand-lighter: #9499ff;
  --bb-brand-lightest: #bcc0ff;
  --bb-brand-dark: #535bf2;
  --bb-brand-darker: #454ce1;
  --bb-brand-soft: rgba(100, 108, 255, 0.14);
  --bb-brand-softer: #f6f6f7;
  --bb-brand-soft-dark: rgba(100, 108, 255, 0.247);
  --bb-rich-color: linear-gradient(120deg, #bd34fe 30%, #454ce1);
  --bb-rich-color-negative: linear-gradient(120deg, #454ce1 30%, #bd34fe);

  font-family: "Inter", Hind Siliguri, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* --vp-font-family-base: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;
